node_modules
npm-debug.log
.env
.env.local
dist
.git
.gitignore
README.md
.prettierignore
.prettierrc
tsconfig.json
yarn.lock
package-lock.json
drizzle.config.ts
src
.vscode
.idea
.DS_Store
*.swp
*.swo
